:root {
  --light-blue: rgb(172, 213, 222);
  --dark-blue: rgb(26, 78, 141);
}


header {
  height: 100vh; 
  /* background: linear-gradient(to bottom, #252627, #010c08); */
  background-color: var(--light-blue);
}


.header_bg_round_image {
  position: absolute; 
  top: 0; 
  right: 0; 
  /* transform: translateX(-50%); Centers it horizontally */
  width: auto; 
  height: auto; 
  z-index: 1; /* Ensure it appears above other elements */
}

.header_bg_bottom_image {
  width: 100%; 
  position: absolute; /* Position it absolutely at the bottom */
  bottom: 0;
  left: 0;
  z-index: 1; 
  object-fit: cover; 
}

.header_bg_bottom_image_blue{
  width: 100%; 
  position: absolute; /* Position it absolutely at the bottom */
  bottom: 1%;
  left: 0;
  z-index: 1; 
  object-fit: cover; 
}

.header_bg_circle {
  position: absolute; 
  top: 2%; 
  left: .5%; 
  width: auto; 
  height: auto; 
  z-index: 1; 
}

.header_bg_triangle {
  position: absolute; 
  top: 40%; 
  right: .5% ; 
  transform: translateY(-85%); 
  width: auto; 
  height: auto; 
  z-index: 1; 
}

/* Navigation Bar */
nav {
  font-family: 'Work Sans', monospace;
  font-weight: bold;
  font-size: 18px; 
  height: 80px; 
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end; /* Aligns text to the right */
  align-items: center; /* Centers text vertically */
  background-color: transparent;
  border-bottom: 1px solid rgba(42,42,42,0.2);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
  transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.nav-scrolled {
  background-color: var(--light-blue);
  background: transparent;
  backdrop-filter: blur(10px); /* Adds a glassy effect */
  height: 60px; 
}

nav a.selected {
  border-bottom: 2px solid var(--dark-blue);
  color:  var(--dark-blue);
  opacity: 1;
}

nav a {
  color: var(--dark-blue);
  font-family: 'Work Sans', monospace;
  font-weight: bold;
  text-decoration: none; /* Removes underline */
  font-size: 18px; 
  margin: 0 15px; 
  transition: color 0.2s ease-in-out; /* Smooth color change */
  opacity: .6;
}

nav a:hover {
  color:  var(--dark-blue);
  opacity: 1;
}

.hamburger_menu {
  display: none; /* Hide hamburger menu by default */
  font-size: 30px; 
  cursor: pointer;
  color: #f5f1f1;
}

.alwynImageNav{
  display: none;
}

@media (max-width: 1180px) {
  nav {
    display: none; /* Hide the entire navigation bar */
    flex-direction: column; /* Stack nav items vertically */
  }

  .hamburger_menu {
    display: block; /* Make hamburger menu visible */
    font-size: 40px; 
    cursor: pointer;
    color: #faf8f8;
    z-index: 1; /* Ensure it appears above other content */
    border: 2px solid rgba(255, 255, 255, 0.4);
    padding: 5px; /* Add padding */
    border-radius: 8px; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
  }

  /* Styles for the nav when active */
  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: var(--dark-blue);
    height: auto;
  }

  .nav.active a {
    display: block; 
    margin: 10px 0;
    text-align: center;
    font-size: 18px; /* Fixed font size */
    color: white;
  }

  .nav.active a:hover {
    color: var(--light-blue); 
  }
  .alwyn_image {
    display:  none
  }

  .alwynImageNav {
    display: block; /* Show the small image on mobile */
    position: absolute; 
    left: 20px; 
    top: 3%; 
    width: 60px; /* Slightly increase the size to make it visible */
    height: 60px; 
    border-radius: 50%; 
    border: 5px solid var(--dark-blue); 
    object-fit: cover;
    transition: font-size 0.4s ease-in-out; 
    z-index: 2; /* Ensure it's on top */
  }
}

.alwyn_image {
  position: absolute; 
  right: 200px; 
  top: 15%; 
  transform: translateY(-50%); 
  width: 400px; 
  height: 440px; 
  border-radius: 30%; 
  border: 9px solid var(--dark-blue);
  object-fit: cover;
  transition: font-size 0.4s ease-in-out; 
}

.headerhello{
  font-family: 'Work Sans', monospace;
  font-weight: bold;
  font-size: 75px;
  position: absolute;
  left: 20px; 
  top: 20%; /* Position vertically at the center */
  transform: translateY(-50%); /* Center the element vertically */
  color: #fff;
  white-space: nowrap;
  margin-left: 10%;
}
.headerName {
  font-family: 'Work Sans', monospace;
  letter-spacing: 0em;
  font-weight: bold;
  font-size: 75px;
  position: absolute;
  left: 20px; 
  top: 30%; /* Position vertically at the center */
  transform: translateY(-50%); /* Center the element vertically */
  color: var(--dark-blue);
  white-space: nowrap;
  margin-left: 10%;
}

.headerSub {
  font-family: 'Work Sans', monospace;
  font-weight: 900;
  font-size: 25px; 
  position: absolute;
  left: 20px; 
  top: 45%; 
  transform: translateY(-50%);
  color: var(--dark-blue);
  margin-left: 10%;
  margin-top: 10px;
  opacity: 0.5;
}

@media (max-width: 710px) {
  .headerhello {
    font-size: 60px !important; 
    position: absolute; 
    left: 20px; 
    top: 25%;
    transform: translateY(-50%); 
    transition: font-size 0.4s ease-in-out; 
  }
  .headerName {
    font-size: 60px !important; 
    position: absolute; 
    left: 20px; 
    top: 35%;
    transform: translateY(-50%); 
    transition: font-size 0.4s ease-in-out;
  }
    .headerSub {
      font-size: 20px !important; 
      position: absolute; 
      left: 20px; 
      top: 48%;
      transform: translateY(-50%); 
      transition: font-size 0.4s ease-in-out; 
}
.socialButton{
  font-size: 27px !important; 
  border:none !important;
}

    .gitButton {
      left: 110px !important; 
    }
    
    .linkedInButton {
      left: 190px !important; 
    }
}

.socialButton {
  display: inline-block;
  position: absolute; 
  width: 50px;
  height: 50px;
  margin: 20px;
  top:50%;
  background-color: transparent; 
  border-radius: 50%;
  border: 3px solid var(--dark-blue);
  color:var(--dark-blue);
  text-align: center;
  line-height: 50px; 
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.gitButton {
  left: 240px;
}

.linkedInButton {
  left: 310px;
}

.socialButton:hover {
  background-color: var(--light-blue); 
}

.socialButton i {
  display: block;
  line-height: 50px;
}

p{
  font-size: 20px;
  color: #606c71;
}
.profile {
  color: var(--dark-blue);
  font-family: 'Work Sans', monospace;
  font-weight: bold;
  font-size: 55px;
  opacity: .7;
}

.profileBox {
  font-family: 'Work Sans', sans-serif;
  background-color: white; /* Background for the box */
  padding: 20px; /* Space inside the box */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px var(--dark-blue); /* Shadow effect */
  width: 100%; /* Take full width within the container */
  margin: 20px 0; /* Keep vertical spacing */
  text-align: left; /* Align text to the left */
}
