:root {
  --color1: #E1D7B7;
  --color2: #1E2A5E;
  --color3:#55679C;
  --color4:#98D2C0;
  --main-font: 'poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 100vh; 
  background: linear-gradient(to bottom,var( --color1), #bfb698);
}


.header_bg_round_image {
  position: absolute; 
  top: 0; 
  right: 0; 
  width: auto; 
  height: auto; 
  z-index: 1; 
}

.header_bg_bottom_image {
  width: 100%; 
  position: absolute; /* Position it absolutely at the bottom */
  bottom: 0;
  left: 0;
  z-index: 1; 
  object-fit: cover; 
}

.header_bg_bottom_image_blue{
  width: 100%; 
  position: absolute; /* Position it absolutely at the bottom */
  bottom: 1%;
  left: 0;
  z-index: 1; 
  object-fit: cover; 
}

.header_bg_circle {
  position: absolute; 
  top: 2%; 
  left: .5%; 
  width: auto; 
  height: auto; 
  z-index: 1; 
}

.header_bg_triangle {
  position: absolute; 
  top: 40%; 
  right: .5% ; 
  transform: translateY(-85%); 
  width: auto; 
  height: auto; 
  z-index: 1; 
}

/* Navigation Bar */
nav {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 18px; 
  height: 80px; 
  letter-spacing: 1px;
  display: flex;
  justify-content: flex-end; /* Aligns text to the right */
  align-items: center; /* Centers text vertically */
  border-bottom: 1px solid rgba(42,42,42,0.2);
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  transition: height 0.4s ease-in-out, background-color 0.4s ease-in-out;
}

.nav-scrolled {
  background-color: white;
  backdrop-filter: blur(10px); /* Adds a glassy effect */
  height: 60px; 
}

nav a.selected {
  border-bottom: 2px solid var(--color2); /* Underline in var(--color2) */
  color: var(--color2); /* Font color in var(--color2) */
  opacity: 1;
}

nav a {
  color: var(--color3);
  font-family: var(--main-font);
  font-weight: bold;
  text-decoration: none !important; /* Removes underline */
  font-size: 18px; 
  margin: 0 15px; 
  transition: color 0.s ease-in-out; /* Smooth color change */
}

nav a:hover {
  color:  var(--color2);
  transform: scale(1.05);
  opacity: 1;
}

.hamburger_menu {
  display: none; /* Hide hamburger menu by default */
  font-size: 30px; 
  cursor: pointer;
  color: #f5f1f1;
}

.alwynImageNav{
  display: none;
}

@media (max-width: 1280px) {
  nav {
    display: none; /* Hide the entire navigation bar */
    flex-direction: column; /* Stack nav items vertically */
  }

  .hamburger_menu {
    display: block; /* Make hamburger menu visible */
    font-size: 40px; 
    cursor: pointer;
    color: var(--color3);
    z-index: 1; /* Ensure it appears above other content */
    border: 2px solid var(--color3);
    padding: 5px; /* Add padding */
    border-radius: 8px; 
    position: absolute; 
    top: 20px; 
    right: 20px; 
  }

  /* Styles for the nav when active */
  .nav.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    background-color: var(--color2);
    height: auto;
  }

  .nav.active a {
    display: block; 
    margin: 10px 0;
    text-align: center;
    font-size: 18px; 
    color: white;
  }

  .nav.active a:hover {
    color: var(--color1); 
  }
  .alwyn_image {
    display:  none
  }

  .alwynImageNav {
    display: block; 
    position: absolute; 
    left: 20px; 
    top: 3%; 
    width: 60px; 
    height: 60px; 
    border-radius: 50%; 
    border: 5px solid var(--color2); 
    object-fit: cover;
    transition: font-size 0.4s ease-in-out; 
    z-index: 2; /* Ensure it's on top */
  }
}

.alwyn_image {
  position: absolute; 
  right: 150px; 
  top: 15%; 
  transform: translateY(-50%); 
  width: 500px; 
  height: 500px; 
  border-radius: 30%; 
  border: 9px solid var(--color2);
  object-fit: cover;
  transition: font-size 0.4s ease-in-out; 
}

.headerhello{
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 75px;
  position: absolute;
  left: 20px; 
  top: 30%; /* Position vertically at the center */
  transform: translateY(-50%); /* Center the element vertically */
  color: white;
  white-space: nowrap;
  margin-left: 10%;
}

.headerName {
  font-family: var(--main-font);
  letter-spacing: 0em;
  font-weight: bold;
  font-size: 75px;
  position: absolute;
  left: 20px; 
  top: 40%; /* Position vertically at the center */
  transform: translateY(-50%); /* Center the element vertically */
  color: var(--color2);
  white-space: nowrap;
  margin-left: 10%;
}

.headerSub {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 25px; 
  position: absolute;
  left: 20px; 
  top: 55%; 
  transform: translateY(-50%);
  color: var(--color2);
  margin-left: 10%;
  margin-top: 10px;
  opacity: 0.5;
}

@media (max-width: 710px) {
  .headerhello {
    font-size: 60px !important; 
    position: absolute; 
    left: 20px; 
    top: 25%;
    transform: translateY(-50%); 
    transition: font-size 0.4s ease-in-out; 
  }
  .headerName {
    font-size: 60px !important; 
    position: absolute; 
    left: 20px; 
    top: 35%;
    transform: translateY(-50%); 
    transition: font-size 0.4s ease-in-out;
  }
    .headerSub {
      font-size: 20px !important; 
      position: absolute; 
      left: 20px; 
      top: 48%;
      transform: translateY(-50%); 
      transition: font-size 0.4s ease-in-out; 
}
.socialButton{
  font-size: 27px !important; 
  top: 53% !important;
}

    .gitButton {
      left: 110px !important; 
    }
    
    .linkedInButton {
      left: 190px !important; 
    }

    .contact{
      top: 56% !important;
      left:290px !important;
    }
}

.contact{
    font-size: 20px;
    font-weight: bold;
    background-color: var(--color1);
    color: var(--color3);
    border-radius: 20px;
    height: 100;
    padding: 10px;
    left: 400px;
    top: 63%;
    text-align: center;
    display: inline-block;
    position: absolute; 
}

.contact{
  text-decoration: none !important;
  transform: scale(1.1);
}

.socialButton {
  display: inline-block;
  position: absolute; 
  width: 50px;
  height: 50px;
  margin: 20px;
  top:60%;
  background-color: var(--color1); 
  border-radius: 50%;
  color:var(--color3);
  text-align: center;
  line-height: 50px; 
  font-size: 24px;
  transition: background-color 0.3s ease;
}

.gitButton {
  left: 240px;
}

.linkedInButton {
  left: 310px;
}

.socialButton:hover {
 color: var(--color3); 
 background-color: white;
 text-decoration: none !important;
 transform: scale(1.1)!important;
}

.socialButton i {
  display: block;
  line-height: 50px;
}

.profile {
  color: var(--color2);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
  padding-top: 40px;
  margin-bottom: 40px;
}

.profileParagraph{
  font-size: 25px;
  color: var(--color3);
  text-align: justify;
}

.Box {
  font-family: var(--main-font);
  background:transparent; 
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
  width: 100%;
  margin: 20px 0; 
  text-align: left; 
}

.skillSection{
  background-color: var(--color2);
}


.skills {
  color: var(--color4);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
}

.skillItem {
  flex: 1;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 23px;
  padding: 35px;
  background: var(--color2);
  text-align: justify;
  /* border: 4px solid var(--color2); */
  /* border: 4px solid var(--color4); */
  box-shadow: 2px 2px 5px black;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
  color: var(--color4);  
  margin-bottom: 70px;
  height: 280px;
}

.skillItem:hover {
  box-shadow: 2px 2px 5px var(--color3);
}
.skillItem h2{
  color: var(--color4);
}

.skillItem {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.skillItem.fadeIn {
  opacity: 1;
  transform: translateY(0);
}

.experience {
  color: var(--color2);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity .4s ease-out, transform .4s ease-out;
  will-change: opacity, transform;
  pointer-events: none; 
  margin-bottom: 0px;
}
.experience.slideLeftToRight {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; 
}

.experienceItem {
  font-family: var(--main-font);
  font-size: 23px;
  padding: 25px;
  text-align: left;
  color: var(--color3);
  width: 100%;
  margin-bottom: 70px;
}

.experienceItem h3 {
  font-size: 25px; 
  font-weight: bold; 
  color: var(--color2);
  margin-top: 0px; 
}

.projectSection{
  background-color: var(--color2);
}

.projects {
  color: var(--color1);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  will-change: opacity, transform;
  pointer-events: none; 
}

.projects.fadeIn {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; 
}

.projectItem {
  font-family: var(--main-font);
  font-size: 23px;
  padding: 25px;
  text-align: left;
  /* border: 4px solid var(--color1); */
  box-shadow: 2px 2px 5px black;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
  color: var(--color1);
  width: 100%;
  margin-bottom: 70px;
}

.projectItem h3 {
  font-size: 25px; 
  font-weight: bold; 
  color: var(--color1);
}

.projectItem:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 5px var(--color1);
}

.crmLink{
  color: var(--color3);
  text-decoration: none;
}

.crmLink:hover{
  color: var(--color1);
}


.headerRow {
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  width: 100%; 
}

/* Styling for the buttons */
#nextButton, #prevButton {
  width: 60px;
  height: 60px;
  font-size: 35px;
  font-weight: bold;
  background-color: var(--color2);
  color: var(--color1);
  border: none;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 10px black;
  margin-left: auto;
}

.navButton {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
  will-change: opacity, transform;
  pointer-events: none; /* Prevents interaction while hidden */
}

.navButton.slideLeftToRight {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; /* Allows interaction after appearing */
}

.navButton:hover {
  transform: translateX(0) scale(1.25) !important;
  transition: transform 0.2s ease-out;

}

#projectWrapper {
  transition: transform 0.9s ease; /* Ensure smooth transition from the start */
}


.educationSection{
  background-color: var(--color1);
}
.education {
  color: var(--color2);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
}

.eduList{
  display: flex; justify-content: space-between; width: 100%;
}

.educationItem {
  font-family: var(--main-font);
  background-color: var(--color1);
  font-size: 23px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  color: var(--color3);
  width: 100%;
  margin-bottom: 70px;
}

.educationItem li{
  margin-bottom: 40px;
}
.educationItem h3 {
  font-size: 25px; 
  font-weight: bold; 
  color: var(--color2);
  margin-top: 0px; 
}

.certificateSection{
  background-color: var(--color3);
}

.certificates{
  color: var(--color4);
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 55px;
}

.certificateItem{
  font-family: var(--main-font);
  background-color: var(--color3);
  font-size: 23px;
  padding: 25px;
  text-align: left;
  transition: transform 0.3s ease-in-out;
  color: var(--color4);
  width: 100%;
  margin-bottom: 70px;
  opacity: 0;
  transform: translateX(50px);
  transition: opacity .4s ease-out, transform .4s ease-out;
  will-change: opacity, transform;
  pointer-events: none; 
  margin-bottom: 0px;
}

.certificateItem.slideLeftToRight {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto; 
}

.certificateItem h3 {
  font-size: 25px; 
  font-weight: bold; 
  margin-top: 0px; 
}

.certificateItem li{
  margin-bottom: 30px;
} 
.footer h4{
  font-size: 30px;
  margin-top: 25px;
  font-weight: bold; 
}

.footer{
  font-family: var(--main-font);
  background-color: white;
  color: var(--color3);
  border-bottom: 50px;
}

.footer p{
  font-size: 20px;
}

.footer a{
  font-size: 20px;
  background-color: var(--color2);
  color: var(--color1);
  border-radius: 20px;
  height: 100;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.profileButton {
  margin-bottom: 50px; /* Increase space for the last element */
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

.footer a:hover{
  text-decoration: none;
  transform: scale(1.1);
}